<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>File Drive: Register</title>
        <style>
            #box{
                padding:2em;
                margin: 2em;
            }
            .row {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 1em;
                
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="/">File Drive</a>
              </div>
              <ul class="nav navbar-nav" style="float: right;">
                <li class="active"><a href="/">Home</a></li>
                <a class="btn btn-primary" style="margin-top: 0.5em;" href="../signin/">Login</a>
              </ul>
            </div>
          </nav>
        <div class="container" id='box'>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="row"><h1>You have been Registered Successfully</h1></div>
                    <div class="row"><p>To Login go to login page and enter your credentials</p></div>
                    
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </body>
</html>